p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Cairo", sans-serif;
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100vh;
  position: relative;
  z-index: 1;
}
body:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0.6;
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.header-section {
  background-color: white;
}
.header-section .logo-box a img {
  height: 80px;
}
.header-section .nav-box ul {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.header-section .nav-box ul li a {
  display: block;
  padding: 30px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.header-section .nav-box ul li a:hover, .header-section .nav-box ul li a.active {
  color: #fff;
  background-color: rgba(40, 59, 106, 0.9);
}

.intro-section {
  height: 90vh;
  padding: 40px 0;
}
.intro-section .intro-content .title {
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.intro-section .img-box {
  width: 90%;
}
.intro-section .img-box img {
  width: 100%;
  text-align: center;
  filter: brightness(1.2) saturate(1.2) contrast(1.01);
}

.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.border-left:last-of-type {
  border-left: 0;
}

.serves-box {
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(40, 59, 106, 0.3);
}
.serves-box:hover, .serves-box.hover-effect {
  background-color: rgba(255, 255, 255, 0.3);
}
.serves-box:hover .serves-title, .serves-box.hover-effect .serves-title {
  color: black;
}
.serves-box:hover .img-box, .serves-box.hover-effect .img-box {
  border-color: transparent;
  background-color: #fff;
}
.serves-box a {
  position: absolute;
  inset: 0;
  z-index: 99;
}
.serves-box .serves-img-box {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serves-box .serves-img-box img {
  height: 60px;
}
.serves-box .serves-title {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.form-box .form-group {
  padding: 12px 0;
  width: 100%;
}
.form-box .form-group label {
  font-size: 20px;
  color: white;
  margin-bottom: 12px;
}
.form-box .form-group input,
.form-box .form-group textarea,
.form-box .form-group select {
  width: 100%;
  background: transparent;
  padding: 12px;
  border: 1px solid white;
}
.form-box .form-group input:focus,
.form-box .form-group textarea:focus,
.form-box .form-group select:focus {
  outline: transparent;
  box-shadow: 0;
  border: 1px solid white;
}
.form-box .form-group select {
  color: white;
}
.form-box .form-group select option {
  color: #3851a2;
}
.form-box .form-group button {
  border: 0;
  font-size: 20px;
  font-weight: 500;
  color: #3851a2;
  background-color: white;
  padding: 10px 30px;
}

.header-section .nav-box ul li a, .serves-box, .serves-box .serves-img-box, .serves-box .serves-title {
  transition: 0.2s all ease-in-out;
}