p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  background-image: url("../img/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: $color-primary-dark;
    opacity: 0.6;
  }
  // @include dir(rtl) {
  // }
  // @include dir(ltr) {
  // }
}
